* {
  transition: 300ms;
}

.cover {
  position: relative;
  width: 333px;
  height: 499px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.link {
  background-color: rgba(255,255,255,0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.link:hover {
  background-color: rgba(255,255,255,.2);
}
