@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

* {
  transition: 300ms;
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
  width: 100%;
  min-height: 100%;
}

#page {
  background-repeat: repeat;
}

#empty, #logo {
  color: rgb(237, 120, 74);
  text-align: center;
}

#empty {
  width: 100%;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif!important;
  font-size: 4em;
}

#logo {
  padding: 150px 10vw 0;
  width: 100%;
  font-size: 10em;
  font-family: 'Lobster', cursive;
  line-height: 0.9;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, .5);
}

@media (max-width: 767px) {
  #logo {
    font-size: 5em;
    padding: 50px 5vw 0;
  }
}
