@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

* {
  transition: 300ms;
}

h3 {
  font-family: 'Roboto Slab', serif!important;
}

h6 {
  color: rgb(162, 162, 162)!important;
}

.book {
  position: relative;
  margin: auto;
  width: 333px;
  height: 640px;
  margin-bottom: 25px;
  background-color: rgba(255,255,255,.8);
  border-bottom: solid 2px rgb(230, 230, 230);
}

.info {
  border-left: solid 4px;
  border-color: rgb(218, 191, 180);
  padding: 0 15px;
}

.divider {
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: rgb(237, 120, 74);
}

.edit {
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  position: absolute;
  top: 597px;
  right: 0;
  width: 43px;
  height: 43px;
  padding: 8px;
  border-left: solid 3px rgb(245, 233, 229);
  border-top: solid 3px rgb(245, 233, 229);
  overflow: hidden;
}

.edit, .edit-form-inner {
  background-color: rgba(237, 120, 74,1);
}

.edit:hover {
  background-color: rgba(237, 109, 58, 0.8);
}

.edit img {
  width: auto;
  height: 100%;
}

.cancel-edit {
  background-color: rgb(214, 83, 70);
  bottom: 0;
  padding: 8px;
}

.cancel-edit-transform {
  transform: translateY(43px);
}

.edit-form-container, .edit-form-inner {
  height: 499px;
}

.edit-form-container, .cancel-edit {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.edit-form-inner {
  transition: 600ms;
}

.edit-form-tranform {
  transform: translateY(499px);
}

.on-top {
  z-index: 3;
}
